@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cabin:ital,wght@0,430;0,700;1,400;1,500;1,600;1,700&family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Handlee&family=Poppins:wght@100;200;300;400;500;600&family=Radio+Canada&family=Roboto:ital,wght@0,700;0,900;1,500&family=Rokkitt:wght@100;200;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #17a2b8;
}

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'poppins';
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

.hide {
    display: none;
}

.alert {
    font-size: 40px;
    color: var(--primary-color);
    padding: 10px 40px;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
}

.box .result {
    height: 250px;
    width: 250px;
    border: 7px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 250px;
    font-size:70px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 80px;
}

.card {
    margin: 0 20px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.card p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.card p:first-child {
    background-color: #78C0C9;
}

.card p:nth-child(2) {
    color: black;
    text-transform: uppercase;
}

.detail {
    display: flex;
}