@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Cabin:ital,wght@0,430;0,700;1,400;1,500;1,600;1,700&family=Caveat:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Handlee&family=Poppins:wght@100;200;300;400;500;600&family=Radio+Canada&family=Roboto:ital,wght@0,700;0,900;1,500&family=Rokkitt:wght@100;200;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #8a66b4;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    padding: 20px 40px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.07);
    margin: 30px;
    text-align: center;
    background-color: rgb(107, 56, 182);
}

.counter h1{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.counter h2{
    font-size: 60px;
}